<section id="registrationPage">
  <div class="container p-5">
    <div class="row mt-5">
        <div class="col-lg-4 offset-lg-4">
          <app-message></app-message>
          <div class="card bg-light">
              <div class="card-body">
                <h4 class="text-center">Register Yourself Here</h4>
                <hr>
                <form>
                  <div class="form-group">
                    <label for="Name" class="form-control-label">Name</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="name">
                  </div>
                  <div class="form-group">
                    <label for="Email" class="form-control-label">Email ID</label>
                    <input type="text" name="email" class="form-control" [(ngModel)]="email">
                  </div>
                  <div class="form-group">
                    <label for="Password" class="form-control-label">Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="password">
                  </div>
                  <div class="form-group">
                    <label for="ConfirmPassword" class="form-control-label">Confirm Password</label>
                    <input type="password" name="confirmpassword" class="form-control" [(ngModel)]="confirmpassword">
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="isSeller" class="form-check-input" [(ngModel)]="isSeller"> Register as Seller
                    </label>
                  </div>
                  <hr>
                  <button class="btn btn-primary btn-block" (click)="register()" [disabled]="btnDisabled">Register</button>
                </form>
              </div>
          </div>
        </div>
    </div>
  </div>
</section>